<!DOCTYPE html>
<html>
  <head>
    <title>miniblog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="header">
    <h1><%= link_to "ミニブログ", tweets_path, class: "miniblog" %></h1>
    <ul class="menu">
    <% if user_signed_in? %>  
      <li class="menu-item"><%= link_to "新規投稿", new_tweet_path, class: "menu-item-link" %></li>
      <li class="menu-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "menu-item-link" %></li>
      <li class="menu-item"><%= link_to "ユーザー詳細", user_path(current_user.id), class: "menu-item-link" %></li>
    <% else %>
      <li class="menu-item"><%= link_to "新規登録", new_user_registration_path, class: "menu-item-link" %></li>
      <li class="menu-item"><%= link_to "ログイン", new_user_session_path, class: "menu-item-link" %></li>
    <% end %>
      <li class="menu-item"><%= link_to "ツイート一覧", tweets_path, class: "menu-item-link" %></li>
      <li class="menu-item"><%= link_to "ユーザー一覧", users_path, class: "menu-item-link" %></li>
    </ul>
  </header>
    <%= yield %>
  </body>
</html>

